<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<head>
    <title>{% block title%}{% endblock %}</title>
</head>
<body>

    <input type="button" onclick="history.back();" value="Назад" class="btn btn-default" aria-label="Left Align"/>
    <H1>Тестовый сайт на Django</H1>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Спасибо, что посетили мой сайт.</p>
    {% endblock %}
</body>
</html>